name: 'Windows'

env:
  DEPLOY_MESSAGE: |
    Push artifact from GitHub Actions build ${{ github.run_number }} with id ${{ github.run_id }}

    - ncline artifact from branch 'BRANCH_NAME' with commit id ${{ github.sha }}
  DEPLOY_BRANCH: ncline-BRANCH_NAME-OS-COMPILER

on: [push, workflow_dispatch]

jobs:
  Build:
    strategy:
      fail-fast: false

    runs-on: 'windows-2022'

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Unshallow Git Repository for Versioning'
      run: |
        $env:GIT_REDIRECT_STDERR = '2>&1'
        git fetch --unshallow; if (-not $?) { return }

    - name: 'CMake Configuration'
      run: |
        cmake -G "Visual Studio 17 2022" -A x64 -B ../ncline-build-Release

    - name: 'CMake Build'
      run: |
        cmake --build ../ncline-build-Release --config Release -j $env:NUMBER_OF_PROCESSORS

    - name: 'Package'
      run: |
        cmake --build ../ncline-build-Release --config Release --target package

    - name: 'Prepare Manifest'
      run: |
        cd ../ncline-build-Release/

        Set-Content -Path package_file_name.cmake -Value 'include(CPackConfig.cmake)','execute_process(COMMAND ${CMAKE_COMMAND} -E echo_append "${CPACK_PACKAGE_FILE_NAME}")'
        $package_file_name = cmake -P package_file_name.cmake
        $package_ext = "zip"
        $package = "$package_file_name.$package_ext"

        # Generate a JSON manifest file
        $manifest = "manifest.json"

        $packageInfo = Get-Item $package
        $packageHash = (Get-FileHash -Algorithm SHA256 -Path $package).Hash.ToLower()

        $manifestObj = [ordered]@{
          filename = $package
          size     = $packageInfo.Length
          timestamp = $packageInfo.LastWriteTimeUtc.ToString("yyyy-MM-ddTHH:mm:ssZ")
          sha256   = $packageHash
          git_revision = $env:GITHUB_SHA
        }

        $manifestObj |
          ConvertTo-Json -Depth 4 |
          Set-Content -Encoding UTF8 $manifest

        Write-Host "Contents of the manifest file:"
        Get-Content $manifest -Raw

    - name: 'Push Artifacts'
      env:
        PUBLIC_REPO_TOKEN: ${{ secrets.PUBLIC_REPO_TOKEN }}
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        $env:GIT_REDIRECT_STDERR = '2>&1'

        $branch_name = git describe --tags --exact-match; if (-not $?) { $branch_name = git symbolic-ref -q --short HEAD }; if (-not $?) { $branch_name = git rev-parse --short HEAD }
        $env:DEPLOY_MESSAGE = $env:DEPLOY_MESSAGE -creplace "BRANCH_NAME",$branch_name

        $env:DEPLOY_BRANCH = $env:DEPLOY_BRANCH -creplace "BRANCH_NAME",$branch_name
        $env:DEPLOY_BRANCH = $env:DEPLOY_BRANCH -creplace "OS","windows" -creplace "COMPILER","vs2022"

        cd ..
        git clone https://$env:PUBLIC_REPO_TOKEN@github.com/nCine/ncline-artifacts.git 2>&1>$null

        cd ncline-artifacts
        git checkout $env:DEPLOY_BRANCH; if (-not $?) { git checkout --orphan $env:DEPLOY_BRANCH }
        git reset
        git clean -f
        git rm *
        Move-Item -Path ..\ncline-build-Release\manifest.json -Destination .
        Move-Item -Path ..\ncline-build-Release\*.zip -Destination .

        git add manifest.json *.zip
        git commit --amend -m "$env:DEPLOY_MESSAGE"; if (-not $?) { git commit -m "$env:DEPLOY_MESSAGE" }
        git push --force; if (-not $?) { git push --set-upstream origin $env:DEPLOY_BRANCH }
